@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', Tofu, sans-serif;
  background: #e0c9a6;
}

.text {
  color: #1a1c1a;
}

.header {
  font-weight: 800;
  text-align: center;
  font-size: 4em;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 5px;
}

.article-card {
  padding: 20px;
  text-align: center;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #f3dfc1;
}

.headline {
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #d60000;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .articles-container {
    grid-template-columns: 1fr;
  }
}
